@import "tailwindcss";

:root {
  --background: #fff8ec;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --font-pacifico: var(--font-pacifico);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
